@import url('https://fonts.googleapis.com/css?family=Anton|Oswald');
label {
    display: block;
}

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background: wheat;
}

header {
    border-bottom: 1px solid;
}

h1 {
    font-family: 'Anton', cursive;
    text-align: center;
}

h2 {
    font-family: 'Anton', cursive;
}

button {
    margin-top: 25px;
    font-size: 1.5em;
}

fieldset {
    max-width: 300px;
    margin: auto;
}

.add-space {
    margin-bottom: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

#user-icon {
    width: 30px;
}
